<!--<div class="mb-3">
    <form #addreview="ngForm" (ngSubmit)="onSubmit(addreview)">
        <label for="exampleFormControlTextarea1" class="form-label">Inserisci recensione</label>
        <textarea [ngModel] name="recensione" type="text" class="form-control"
        placeholder="Inserisci recensione" required id="recensione" #name="ngModel"
        class="form-control" rows="3"></textarea>
        <button type="submit" *ngIf="onSubmit" class="form-label btn btn-primary rounded submit px-3 mt-2">Inserisci</button>
      </form>
</div>-->

<form #addreview="ngForm" (ngSubmit)="onSubmit(addreview)">
<div class="modal-header">
    <label for="exampleFormControlTextarea1" class="form-label">Inserisci recensione</label>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <textarea [ngModel] name="recensione" type="text" class="form-control"
    placeholder="Inserisci recensione" required id="recensione" #name="ngModel"
    class="form-control" rows="3"></textarea>
    <button type="submit" *ngIf="onSubmit" class="form-label btn btn-primary rounded submit px-3 mt-2">Inserisci</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Chiudi</button>
</div>
</form>
