<div class="mb-3">
    <form #r="ngForm" (ngSubmit)="review(r)">
        <label for="exampleFormControlTextarea1" class="form-label">Inserisci recensione</label>
        <textarea [ngModel] name="recensione" type="text" class="form-control"
        placeholder="Inserisci recensione" required id="recensione" #name="ngModel"
        class="form-control" rows="3"></textarea>
        <button type="submit" class="form-control btn btn-primary rounded submit px-3 mt-2">Inserisci</button>
    </form>
</div>