<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-3">
        <img
        [src]="'https://image.tmdb.org/t/p/w440_and_h660_face' + movie.poster_path"
        class="card-img-top"
        />
    </div>
    <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title | titlecase }}</h5>
          <p class="card-text">
            <button type="button" data-mdb-toggle="modal" data-mdb-target="#myModal">
              Aggiungi ai preferiti
            </button>
        </p>
          <p class="card-text">
            <tnv-review></tnv-review>
          </p>
        </div>
      </div>
    </div>
</div>