<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-3">
        <img
        [src]="'https://image.tmdb.org/t/p/w440_and_h660_face' + movie.poster_path"
        class="card-img-top"
        />
    </div>
    <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title | titlecase }}</h5>
          <p class="card-text">
            <tnv-review></tnv-review>
        </p>
          <p class="card-text"><small class="text-muted">Aggiungi ai preferiti</small></p>
          <form class="row" #r="ngForm" (ngSubmit)="onSubmit(r)">
            <div class="mb-3 col-12">
              <label for="rating" class="form-label">Voto</label><br>
              <ngb-rating [(rate)]="currentRate" id="rating" [max]="5"></ngb-rating>
              <button type="submit" class="form-label btn btn-primary rounded submit px-3 mt-2">Inserisci</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>