<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-3">
        <img
        [src]="imageBaseUrl + movie.poster_path"
        class="card-img-top"
        />
    </div>
    <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title | titlecase }}</h5>
          <p class="card-text">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <button type="submit" *ngIf="onSubmit" class="form-label btn btn-primary rounded submit px-3 mt-2" (click)="open()">Aggiungi ai preferiti</button>
          </form>
          <p class="card-text">
            <!--<tnv-review [movie]="movie"></tnv-review>
            <tnv-ratings [movie]="movie"></tnv-ratings>-->
          </p>
        </div>
      </div>
    </div>
</div>